In [1]:
#importing lib
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data=pd.read_csv("/Users/abdullahyehia/Desktop/data/creditcard.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.175161e-15,3.384974e-16,-1.379537e-15,2.094852e-15,1.021879e-15,1.494498e-15,-5.620335e-16,1.149614e-16,-2.414189e-15,...,1.628620e-16,-3.576577e-16,2.618565e-16,4.473914e-15,5.109395e-16,1.686100e-15,-3.661401e-16,-1.227452e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [5]:
#checking for nulls
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [6]:
#checking for dupes
data.duplicated().sum()

np.int64(1081)

In [7]:
data.drop_duplicates(inplace=True)
data.duplicated().sum()

np.int64(0)

In [8]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
print(data['Class'].value_counts())

Class
0    283253
1       473
Name: count, dtype: int64

In [10]:
#minority class are 0.7% from the total data.
x= data.drop(columns=['Class'])
y= data['Class']
x.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [11]:
from sklearn.model_selection import train_test_split
# splittin so we could resample , choose best features.
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)

In [12]:
print(y_train.value_counts())
print(y_test.value_counts())
#a huge imbalance but each the train and test has nearly the same percent of minority

Class
0    226602
1       378
Name: count, dtype: int64
Class
0    56651
1       95
Name: count, dtype: int64

In [13]:
#scalling data
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X_train_scalled = scaler.fit_transform(X_train) 
X_test_scaled = scaler.transform(X_test)

In [ ]:
#trying smote

In [14]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=42) # Initialize SMOTE, random_state for reproducibility
X_train_resampled_SMOTE, y_train_resampled_SMOTE = smote.fit_resample(X_train_scalled, y_train)

In [15]:
print(y_train_resampled_SMOTE.value_counts())

Class
0    226602
1    226602
Name: count, dtype: int64

In [16]:
y_train_resampled_SMOTE.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [18]:
#trying under sampling.
from imblearn.under_sampling import RandomUnderSampler
rUS = RandomUnderSampler(sampling_strategy='auto', random_state=42)
X_train_resampled_rus, y_train_resampled_rus= rUS.fit_resample(X_train_scalled, y_train)

In [19]:
print(y_train_resampled_rus.value_counts())

Class
0    378
1    378
Name: count, dtype: int64

Up until now there is two options : X_train_resampled_rus, y_train_resampled_rus this is undersampled

X_train_resampled_SMOTE, y_train_resampled_SMOTE this is using SMOTE overSampling.

In [20]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier

# Base model for RFE
base_model = RandomForestClassifier(
    n_estimators=200,          # Enough trees for stability
    max_depth=None,            # Let trees grow until stopping criteria
    min_samples_split=2,
    class_weight='balanced',   # Handle imbalance, even though you resampled
    random_state=42,
    n_jobs=-1
)

# Recursive Feature Elimination
selector = RFE(
    estimator=base_model,
    n_features_to_select=15,   # Try starting with ~50% of your features
    step=1
)


selector.fit(X_train_resampled_rus, y_train_resampled_rus)
selected_features_rus = selector.support_
type(selector.support_)
print("Selected Features for rus sampling : ", selected_features_rus)
print('the columns are: ',x.head(1))

Selected Features for rus sampling :  [False False False  True  True False False  True  True  True  True  True
  True False  True  True  True  True  True  True  True False False False
 False False False False False False]
the columns are:     Time        V1        V2        V3        V4        V5        V6        V7  \
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599

         V8        V9  ...       V20       V21       V22       V23       V24  \
0  0.098698  0.363787  ...  0.251412 -0.018307  0.277838 -0.110474  0.066928

        V25       V26       V27       V28  Amount
0  0.128539 -0.189115  0.133558 -0.021053  149.62

[1 rows x 30 columns]

In [21]:
print("Iterating over a 1D array:")
choosen_Feat_rus=[]
i=0
for index, value in np.ndenumerate(selected_features_rus):
    #print(f"Index: {index}, Value: {value}")
    if value == True :
        choosen_Feat_rus.append( i+1)
    i += 1
print(choosen_Feat_rus)

Iterating over a 1D array:
[4, 5, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21]

In [22]:
selector.fit(X_train_resampled_SMOTE, y_train_resampled_SMOTE)
selected_features_SMOTE = selector.support_
print("Selected Features for sMOTE sampling:", selected_features_SMOTE)

Selected Features for sMOTE sampling: [False False  True  True  True False False  True  True  True  True  True
  True False  True False  True  True  True  True False False False False
 False False  True False False False]

In [23]:
choosen_Feat_smote=[]
i=1
for index, value in np.ndenumerate(selected_features_SMOTE):
    #print(f"Index: {index}, Value: {value}")
    if value == True :
        choosen_Feat_smote.append(i)
    i += 1
print(choosen_Feat_smote)

[3, 4, 5, 8, 9, 10, 11, 12, 13, 15, 17, 18, 19, 20, 27]

In [25]:
selector.fit(X_train_scalled, y_train)
selected_features_scaled = selector.support_
print("Selected Features for only scaled:", selected_features_scaled)
choosen_Feat_scaled=[]
i=1
for index, value in np.ndenumerate(selected_features_scaled):
    #print(f"Index: {index}, Value: {value}")
    if value == True :
        choosen_Feat_scaled.append(i)
    i += 1
print(choosen_Feat_scaled)

Selected Features for only scaled: [False False False  True  True  True False  True  True False  True  True
  True False  True False  True  True  True  True  True False False False
 False False False False False  True]
[4, 5, 6, 8, 9, 11, 12, 13, 15, 17, 18, 19, 20, 21, 30]